body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#bg-video {
  /* top: 0px;
  left: 0px; */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
  /* width: 100%; */
  /* background-size: cover;
  width: 100%;
  height: auto; */
}

.jumbovidtext {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.jumbotron {
  background: rgba(128,128,128,0.5);
  margin: 25vh 0;
  /* overflow-y: visible;
  background-size: cover; */
  /* width: auto;
  height: 100%; */
}

main {
  /* Give the main content container a solid background color to hide the fixed position video */
  background: #fff;
  padding: 2em;
}

.main-header {
  font-size: 200% !important;
}

.white-link {
  color: white
}

/* mouse over link */
.white-link:hover {
    color: black;
}
